                        <p> <%=i+1%>.<%=j%> Pisos</p>
                            <p> <%=i+1%>.<%=j%>.1 Observe se os pisos são antiderrapantes, ásperos ou lisos. Anote a quantidade de pisos existentes nesse caminho, de acordo com as seguintes especificações:</p>
                            <table class = "table table-sm table-bordered">
                              <tread>
                                <tr>
                                  <th> Especificação de pisos</th>
                                </tr>
                              </tread>                              
                              <tbody>
                                <tr>
                                  <td> Pisos lisos: Granilite polido, cimento queimado, pedras polidas, cerâmicas, madeiras enceradas ou com selantes, porcelanatos </td>                                  
                                </tr>
                                <tr>
                                  <td> Pisos ásperos: acimentado, cerâmico poroso, pedras naturais, madeira sem enceramento </td>                                 
                                </tr>
                                <tr>
                                  <td> Pisos antiderrapantes: cerâmico com textura, granili </td>                                  
                                </tr>
                                
                              </tbody>
                            </table>   
                            
                            <p> <%=i+1%>.<%=j%>.2 Calcule a média ponderada dos pontos = (pontos X quantidade) / quantidade total</p>  

                            <table class = "table table-sm table-bordered">
                              <tread>
                                <tr>
                                  <th style="width: 40%" scope = "col">Pisos</th>
                                  <th class = "text-center" style="width: 10%" scope = "col">Pontos</th>
                                  <th class = "text-center"style="width: 20%" scope = "col">Quantidade de pisos</th>
                                  <th class = "text-center"style="width: 15%" scope = "col">Média dos pontos</th>
                                  <th class = "text-center"style="width: 15%" scope = "col">Pontuação máxima</th>
                                </tr>
                              </tread>
                              <tbody>
                                <tr>
                                  <td> Lisos </td>
                                  <td class = "text-center"> 5 </td>
                                  <td> 
                                    <input id="campo" type="text" class="form-control" >
                                  </td>
                                  <td class = "text-center" rowspan = "4"> Mp </td>
                                  <td class = "text-center" rowspan = "4"> 10 </td>
                                </tr>
                                <tr>
                                  <td>Ásperos </td>
                                  <td class = "text-center"> 7 </td>
                                  <td> 
                                    <input id="campo" type="text" class="form-control" >
                                  </td>
                                </tr>
                                <tr>
                                  <td>Antiderrapantes </td>
                                  <td class = "text-center"> 10 </td>
                                  <td> 
                                    <input id="campo" type="text" class="form-control" >
                                  </td>
                                </tr>
                                
                                <tr>
                                  <td>Total </td>
                                  <td class = "text-center">  </td>
                                  <td> 
                                    <input id="campo" type="text" class="form-control" >
                                  </td>
                                </tr>
                                
    
                              </tbody>
                            </table>